.root {
  padding: .5rem;
  border-radius: .125rem;
  border: 1px solid #ccc;
}

.root[type="color"] {
  border: unset;
  padding: 0;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  overflow: hidden;
}

.root[type="color"]::-webkit-color-swatch {
  border: 1px solid #ccc;
   border-radius: .125rem;
}

.root[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}